* {
  margin: 0;
  padding: 0;

  .container-banner-six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(67, 182, 37);
    background: linear-gradient(
      90deg,
      rgba(67, 182, 37, 1) 24%,
      rgba(234, 19, 19, 1) 52%,
      rgba(237, 129, 28, 1) 76%
    );
    font-family: 'Poppins', sans-serif;

    h1 {
      font-size: max(18px, 2vw);
      text-align: center;
      margin-bottom: 40px;
      color: #222;
    }
  }
  .card-banner-six {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .cards-banner-six {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 26%;
    border-radius: max(15px, 2vw);
    padding: 20px;
  }
  .drink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .icon-banner-six {
    width: max(100px, 15vw);
    border-radius: 56% 44% 45% 55% / 53% 9% 91% 47%;
    justify-content: center;
    margin-bottom: 30px;
    transition: 0.9s;
  }
  .icon-banner-six:hover{
    border-radius: 10px;
    transition: 0.7s ease-out;
  }
  .text-six {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: max(18px, 1.9vw);
  }
  .paragraf-six {
    padding: 5% 2% 20% 10%;
    line-height: 1.4;
    font-style: italic;
    font-size: max(16px, 1.6vw);
  }
  .card1 {
    color: #e60000;
  }
  .card2 {
    color: #e68a00;
  }
  .card3 {
    color: #006622;
  }
}

@media (max-width: 1080px) {
  .card-banner-six {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
  }
  .cards-banner-six {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .card-banner-six {
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
  .cards-banner-six {
    width: 35%;
    gap: 30px;
  }
}
@media (max-width: 640px) {
  .card-banner-six {
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
  .cards-banner-six {
    width: 45%;
    gap: 30px;
  }
}
@media (max-width: 490px) {
  .card-banner-six {
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
  .cards-banner-six {
    width: 45%;
    gap: 30px;
  }
}
@media (max-width: 420px) {
  .card-banner-six {
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
  .cards-banner-six {
    width: 55%;
    gap: 30px;
  }
}
