* {
  margin: 0;
  padding: 0;

  .container-dropdown {
    width: 90%;
    margin: 20px 50px;
    font-family: 'Poppins', sans-serif;
  }
  .content-dropdown {
    border: 1px solid #cecece;
    border-radius: 10px;
    padding: 15px 90px;
    margin-top: 30px;
    box-shadow:  7px 7px 3px #898989;
}
h3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: max(17px,1.8vw);
    flex: 1;
}
  .icon {
    margin-left: 77%;
    margin-top: 5px;
    cursor: pointer;
  }
  .dropdown {
    display: flex;
    width: 100%;
    padding: 30px 0 20px 0px;
    color: #d7d0d0;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: max(12px,1.3vw);
  }
}

@media (max-width:750px) {
  .container-dropdown{
    margin-left: 40px;
  }
}
@media (max-width:700px) {
  .content-dropdown {
    padding: 15px 70px;
}
}
@media (max-width:650px) {
  .container-dropdown{
    margin-left: 30px;
  }
}
@media (max-width:479px) {
  .container-dropdown{
    margin-left: 20px;
  }
}



