* {
    margin: 0;
    padding: 0;
  
    .container-three {
      display: flex;
      justify-content: space-between;
      padding: 0 5%;
      background: linear-gradient(#c4e0e5, #4ca1af );
      font-family: 'Poppins', sans-serif;
    }
    .card-banner-three {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
    }
    .cards-banner-three {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 25%;
      padding: 20px;
    }
    .image-three{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
    }
    .icon-banner-three {
      width: max(200px,23vw);
      justify-content: space-around;
      margin-bottom: 20px;
      border-radius: 15% 85% 70% 30% / 30% 14% 86% 70%;
      transition: 1.5s ease-in-out;
    }
    .icon-banner-three:hover{
      border-radius: 10px;
      transition: 0.7s ease-in-out;
    }
    .text-three{
      font-weight: bold;
      margin-bottom: 20px;
      font-size: max(16px,1.7vw);
      background: -webkit-linear-gradient(#414141, #000000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .text-three:hover{
      background: -webkit-linear-gradient(#ee0979, #ff6a00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: 0.7s;
    }
    .paragraf-banner-three{
        width: 110%;
        line-height: 1.3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-size: max(13px,1.4vw);
        padding-left: 20px;
        background: -webkit-linear-gradient(#414141, #000000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
  
  @media (max-width:1080px) {
    .card-banner-three{
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 30px;
    }
    .cards-banner-three{
      width: 30%;
    }
  }
  @media (max-width:800px) {
    .card-banner-three{
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
    }
    .cards-banner-three{
      width: 35%;
      gap: 30px;
    }
  }
  @media (max-width:600px) {
    .card-banner-three{
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
    }
    .cards-banner-three{
      width: 45%;
      gap: 5px;
    }
  }
  @media (max-width:450px) {
    .card-banner-three{
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
    }
    .cards-banner-three{
      width: 45%;
      gap: 30px;
    }
  }
  @media (max-width:420px) {
    .card-banner-three{
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
    }
    .cards-banner-three{
      width: 55%;
      gap: 30px;
    }
  }

